html,body{
    .box{
        width: 220px;
        height: 120px;
        // 默认情况下，webpack 无法处理CSS文件中的ｕｒｌ地址,不管是图片还是字体库.只要是URl地址,都处理不了.
        background:url(../images/timg1.jpg);
        background-size: cover;
    }
}